<div class="container">
    <div class="page-header" id="banner">
        <div class="row">
            <img align="left" vspace="50px" src="images/background-home.png"></img>
            <div class="col-lg-6">
                <h1>Bem-vindo a <br/> Aliança Voluntária</h1>
                <p class="lead">Cadastre-se como um voluntário ou uma organização.</p>                
                <a href="#/novo-voluntario" class="btn btn-primary btn-lg" role="button">Novo <br/>Voluntário</a>
                <a href="#/nova-organizacao" class="btn btn-primary btn-lg" role="button">Nova <br/>Organização</a>
            </div>
        </div>  
    </div>
</div>