<div class="bs-docs-section" ng-controller="oportunidadesController">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1 id="forms">{{titulo}}</h1>
            </div>
        </div>
    </div>
    <md-content layout-padding>
        <form name="cadastroOportunidade">
            <div class="row col-md-12">
                <!-- Codigo deve ser um auto incremente -->
                <div class="col-md-4 col-xs-12">
                    <div layout-gt-xs="row">
                        <md-input-container flex-gt-xs>
                            <label>Código</label>
                            <input required ng-model="oportunidade.codigo">
                        </md-input-container>
                    </div>
                </div>

                <!-- Responsável -->
                <div class="col-md-4 col-xs-12">
                    <div layout-gt-xs="row">
                        <md-input-container flex-gt-xs>
                            <label>Responsável</label>
                            <input required ng-model="oportunidade.responsavel">
                        </md-input-container>
                    </div>
                </div>

                <!-- selected organizacoes -->
                <div class="col-md-4 col-xs-12">
                    <div layout-gt-xs="row">
                        <md-input-container flex-gt-xs>
                            <label>Informe o CNPJ de sua organização</label>
                            <input ui-mask="99.999.999/9999-99" required ng-model="oportunidade.organizacao_cnpj">
                        </md-input-container>
                    </div>
                </div>
            </div>

            <div class="row col-md-12">
                <!-- Descrição -->
                <div class="col-md-8 col-xs-12">
                    <div layout-gt-xs="row">
                        <md-input-container flex-gt-xs>
                            <label>Descrição</label>
                            <input ng-model="oportunidade.descricao">
                        </md-input-container>
                    </div>
                </div>
                <!-- Data Inicio -->
                <div class="col-md-2 col-xs-12">
                    <div layout-gt-xs="row">
                        <md-input-container flex-gt-xs>
                            <md-datepicker aria-required="true" required ng-model="oportunidade.dataInicio" md-placeholder="Data Inicio *">
                            </md-datepicker>
                        </md-input-container>
                    </div>
                </div>
                <!-- Data Fim -->
                <div class="col-md-2 col-xs-12">
                    <div layout-gt-xs="row">
                        <md-input-container flex-gt-xs>
                            <md-datepicker aria-required="true" required ng-model="oportunidade.dataFim" md-placeholder="Data Fim *">
                            </md-datepicker>
                        </md-input-container>
                    </div>
                </div>
            </div>

            <!-- nova area de interesse -->
            <div class="row col-md-12">
                <div class="col-md-12 col-xs-12">
                    <div layout-gt-xs="row">
                        <md-chips flex-gt-xs ng-model="oportunidade.areas_interesse" name="areaInteresse" readonly="oportunidade.readonly" md-removable="oportunidade.removable"
                            placeholder="Insira áreas de interesse">
                            <md-chip-template>
                                <strong>{{$chip.toLowerCase()}}</strong>
                            </md-chip-template>
                        </md-chips>
                    </div>
                </div>
            </div>

            <md-input-container flex-gt-xs>
                <md-button type="submit" ng-click="criarOportunidade()" class="md-primary md-raised">Confirmar</md-button>
                <md-button class="md-raised md-warn">Cancelar</md-button>
            </md-input-container>
        </form>
        <p style='font-weight:bold;'>* Campos Obrigatórios.</p>
    </md-content>

</div>